#panel {
    display: flex;
    align-items: center;
    background-color: rgb(57, 57, 116);
    height: 600px;
    width: 60%;
    margin: auto;
}

#buttonGroup {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: start;
    padding-top: 10px;
}

.dials {
    margin-left: 10%;
    margin-right: 20px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin-left: 10px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: rgb(2, 107, 2);
    border-color: rgb(2, 107, 2);
}

#altimeter {
    border: 3px solid black;
    color: grey;
    height: 380px;
    width: 80px;
}

#HIS {
    height: 230px;
    width: 230px;
    border: solid black 3px;
    border-radius: 50%;
    /* transform: rotate(180deg); */
}

#ADI {
    border-radius: 100%;
    height: 230px;
    width: 230px;
    border: solid black 3px;
}
